<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Fina</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=>expandedSubMenu =!expandedSubMenu">
                <span class="oi oi-cart" aria-hidden="true"></span> პროდუქტები
            </NavLink>
            @if (expandedSubMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                            <span class="oi oi-cart" aria-hidden="true"></span>აგრარული
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                            <span class="oi oi-cart" aria-hidden="true"></span> კვება
                        </NavLink>
                    </li>
                </ul>
            }

        </li>


    </ul>
</div>



@code {

    private bool expandedSubMenu;

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}